*{
    margin: 0 0 0 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(243, 239, 247);
 background-color: #c20909e0; /
}

header{
    background-color: #101111;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#imagem-principal {
    width: 15%;
    height: 40%;
    margin-left: 3%;
    margin-right: 2%;
    border: solid #101011;
    display: block;
}

h1{
    font-size: 60px;
    text-transform: uppercase;
    text-align: center; 
    text-decoration: double;
    position: relative; 
    margin-top: 0%;
    margin-right: 5%;
    margin-left: 5%;
    border: solid; #0f1942;
    padding: 2%;
    background-color: #c20909e0;
   
}

nav {
    position: absolute;
    bottom: auto;
    top: 38%;
    right: 10%;
    margin-left: 45%;
    font-size: 30px; font-family: monospace;
    }

.principal{
	
    font-size: 40px;
    text-align: center;
    margin: 8%;
    border: 2px solid #f7f6fa;
    padding: 30px;
    border-radius: 40px 20px;
    background-color: #c20909e0;
    font-family: 'Fredericka the Great', cursive;
    color: #2b2c2c;
  }

h2{
    font-size: 30px;
    text-align: center;
    margin: 0 5px 0 25px;
   }

p{
    text-align: justify;
    margin: 0 5px 0 25px;
}
    
nav ul{
    display: block;
    text-align: end;
    margin-bottom: auto;
}

nav li{
    display: inline;
   }

nav a{
    text-decoration: none;
    color: #c20909e0;
    font-size: 100%;
}

.home{
    margin-top: 10%;
    text-decoration: none;
      background-color: rgb(7, 7, 7);
      color: #f8faf8;
      padding: 12px;
      display: inline-block;
      font-family: arial, sans-serif;
      position: relative;
      border-radius: 5%;